body{
  background: url("../images/pageTexture.jpg") repeat;
}

.container{
  padding: 30px;
  padding-top:70px;
}

.flexslider {
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index: 10;
}
.flexslider img{
  position:absolute;
  top:0px;
  width:100%;
  min-height: 400px;
  overflow:hidden;
}

.flexslider h2{
  display:box;
  position:relative;
  float:none;
  max-width: 100%;
  text-align: center;
  top: 270px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #003333;
}

.brandNav{
  display:block;
  position: absolute;
  justify-content: space-between;
  height:400px;
  width:100%;
  top: 0px;
  left:0px;
}
.brand{
  diplay: block;
  position: relative;
  top: 3%;
  left:3%;
  float:left;
  z-index: 200;
}

.mainNav{
  position:absolute;
  height:auto;
  background-color: rgba(12,49,10,0.7);
  top:404px;
  text-align: center;
  z-index: 900;
  margin-bottom:0px;
}

.mainNav ul{
  padding:7px;
  margin-bottom:0px;
}
.mainNav li {
  display:inline-block;
  float:none;
  margin-bottom:0px;
}
.mainNav li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin:25px;
  padding-top: 10px;
  text-shadow: 2px 2px #003333;
}
.mainNav li a:hover{
  color:#1EAEDB;
}

footer{
  display: block;
  height:200px;
  background:url("../images/Pine-Straw-21.jpg") center center;
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: overlay;
  background-size:cover;
}

footer ul {
  display:flex;
  flex-flow:wrap;
  justify-content: center;
}

footer li {
  display:inline-block;
  padding:0px;
  text-align: center;
}

footer a {

  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding:10px;
}

footer p {
  color: white;
  text-align: center;
}

.mainContent h1,h2,h3,h4,h5,h6{
  color: #006633;
}

.sidebar h1,h2,h3,h4,h5,h6{
  color: #006633;
}

.indexGallery{
  display:block;
  text-align: center;
}
.indexGallery img{
  max-width: 100%;
  padding:10px;
}

@media (min-width: 400px) {
  .flexslider h2{
    display:box;
    position:relative;
    float:none;
    max-width: 95%;
    text-align: center;
    top: 280px;
    color: white;
    text-shadow: 2px 2px #003333;
  }
  .brand{
    diplay: block;
    position: relative;
    top: 8%;
    left:11%;
    float:left;
    z-index: 200;
  }
  footer li {
    display:inline-block;
    padding:5px;
    text-align: center;
  }
}


@media (min-width: 1000px) {
  .flexslider h2{
  display:box;
  position:relative;
  float:right;
  max-width: 40%;
  text-align: right;
  font-size: 50px;
  top: 125px;
  right: 175px;
  color: white;
  text-shadow: 2px 2px #003333;
  }
  .brand{
    diplay: block;
    position: relative;
    top: 20%;
    left:10%;
    float:left;
    z-index: 200;
  }

  footer li {
    display:inline-block;
    padding:30px;
    text-align: center;
  }
}
