<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{site.name}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/skeleton.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

  <link rel="stylesheet" href="{{site.baseurl}}/css/flexslider.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/jquery.flexslider-min.js"></script>

  <script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
      directionNav: true,
      controlNav: true
    });
  });
  </script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{site.baseurl}}/images/favicon.png">

</head>
<body>
  <div class="flexslider clearfix">
    <ul class="slides">
      <li>
        <img src="{{site.baseurl}}/images/sliderimage1.jpg" />
      </li>
      <li>
        <img src="{{site.baseurl}}/images/sliderimage2.jpg" />
      </li>
      <li>
        <img src="{{site.baseurl}}/images/sliderimage3.jpg" />
      </li>
    </ul>
  </div>
  <div class="brandNav">
  <div class="brand">
    <img src = "{{site.baseurl}}/images/mainLogo.png" alt="The Pinestraw Man" />
  </div>

  <nav class="mainNav">
    <ul>
      <li><a href="{{site.baseurl}}/index.html">HOME</a></li>
      <li><a href="{{site.baseurl}}/services.html">SERVICES</a></li>
      <li><a href="{{site.baseurl}}/faqs.html">FAQS</a></li>
      <li><a href="{{site.baseurl}}/contact.html">CONTACT US</a></li>
    </ul>
  </nav>
</div>
